/* WAVEKO
This theme is managed by: webcrafterinc.com */
/* REQUIRES UTILITIES */
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,500i,600,600i,700,700i&display=swap");
@font-face {
  font-family: waveko-light;
  src: url("../assets/fonts/GT-Walsheim-Pro-Light.ttf");
}
@font-face {
  font-family: waveko-reg;
  src: url("../assets/fonts/GT-Walsheim-Pro-Regular.ttf");
}
@font-face {
  font-family: waveko-med;
  src: url("../assets/fonts/GT-Walsheim-Pro-Medium.ttf");
}
@font-face {
  font-family: waveko-bold;
  src: url("../assets/fonts/GT-Walsheim-Pro-Bold.ttf");
}
/* BASE */
body {
  font-family: "IBM Plex Sans", "Lucida Grande", sans-serif;
  color: #666;
  font-size: 16px;
}

/* TYPOGRAPHY */
h1 {
  font-family: waveko-reg;
  font-weight: 100;
  font-size: 32px;
  line-height: 48px;
}

h1.entry-title {
  font-family: waveko-bold;
  font-size: 48px;
  color: #222;
}

h2 {
  font-family: waveko-reg;
  font-size: 32px;
  color: #8DA2A0;
}

h2.excerpt {
  font-family: waveko-light;
  font-size: 24px;
  color: #8DA2A0;
}

h3 {
  font-family: waveko-bold;
  font-size: 32px;
  color: #222;
}

h4 {
  font-family: waveko-bold;
  font-size: 18px;
  color: #222;
}

h5 {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  color: #044D71;
}

h6 {
  font-family: waveko-bold;
  /* text-transform: uppercase; */
  font-size: 13px;
  color: #222;
}

p {
  font-family: "IBM Plex Sans", "Lucida Grande", sans-serif;
  font-size: 14px;
}

span {
  /* font-family: waveko-med; */
}

strong {
  color: #222;
}

@media (max-width: 992px) {
  h1, h2, h3 {
    font-size: 22px;
  }
  h1 .entry-title, h2 .entry-title, h3 .entry-title {
    font-size: 24px;
  }
  h1 .excerpt, h2 .excerpt, h3 .excerpt {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
}
/* COMPONENTS */
/* Component: Buttons */
.btn {
  font-family: waveko-bold;
  padding: 12px 24px;
  border-radius: 8px;
}
.btn.btn-lg {
  font-size: 16px;
}
.btn.btn-waveko-navy-outline {
  background-color: #fff;
  border: 1px solid #044D71;
  color: #044D71;
}
.btn.btn-waveko-black {
  color: #fff;
  background-color: #222;
  font-size: 18px;
}
.btn.btn-waveko-black:hover {
  color: #BBD630;
  border: 1px solid #BBD630;
}
.btn.btn-waveko-lime {
  color: #222;
  background-color: #BBD630;
  font-family: waveko-bold;
  border: none;
}
.btn.btn-waveko-lime:hover, .btn.btn-waveko-lime:active {
  color: #fff;
  background-color: #333;
  font-family: waveko-bold;
  border: none;
}

/* Components: Badge Pill */
.badge {
  font-size: 13px;
  padding: 6px 12px;
  font-weight: normal;
  border-radius: 32px;
  display: inline-flex;
  width: auto;
  align-items: center;
  justify-content: center;
}
.badge.badge-sm {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-family: waveko-bold !important;
}
.badge.badge-waveko-lime {
  font-family: waveko-med;
  background-color: #BBD630;
  color: #222;
}
.badge.badge-waveko-black {
  font-family: waveko-med;
  background-color: #222;
  color: #fff;
}
.badge.badge-waveko-light {
  font-family: waveko-med;
  background-color: #E7F0F5;
  color: #8DA2A0;
}
.badge.badge-waveko-navy {
  font-family: waveko-med;
  font-weight: normal;
  background-color: #044D71;
  color: #fff;
}

/* UTILITIES */
/* Separators */
.separator-bot {
  margin-bottom: -32px;
}

.wave-light-gray {
  background-image: url("../assets/images/wave-light-gray-blue.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  height: 15vw;
  /* margin-top: -120px; */
}

.wave-white {
  background: url("../assets/images/wave-white.svg");
  background-size: cover;
}

.wave-gray {
  background: url("../assets/images/wave-light-gray.svg");
  background-size: cover;
}

.image-cover {
  background-size: cover;
  background-position: center;
}

.waveko-shadow {
  box-shadow: 0 24px 32px #666;
}

/* Text Color and Size*/
.text-lime {
  color: #BBD630;
}

.text-gray-navy {
  color: #98ACAA !important;
}

.text-navy {
  color: #044D71 !important;
}

.text-black {
  color: #222 !important;
}

.text-light {
  color: #E7F0F5 !important;
}

.text-waveko-reg {
  font-family: waveko-reg;
}

.text-waveko-med {
  font-family: waveko-med;
}

.text-waveko-strong {
  font-family: waveko-bold;
}

/* Spacing */
.font-18 {
  font-size: 18px;
}

.font-24 {
  font-size: 24px;
}

.font-32 {
  font-size: 32px;
}

.mh-16 {
  min-height: 16px;
}

.mh-24 {
  min-height: 24px;
}

.mh-32 {
  min-height: 32px;
}

.mh-48 {
  min-height: 48px;
}

.mh-64 {
  min-height: 64px;
}

.mh-120 {
  min-height: 120px;
}

.mh-160 {
  min-height: 160px;
}

.mh-240 {
  min-height: 240px;
}

.mh-320 {
  min-height: 320px;
}

.mh-360 {
  min-height: 360px;
}

.mh-420 {
  min-height: 420px;
}

.mh-600 {
  min-height: 600px;
}

.waveko-v2 header.waveko_header .waveko-logo {
  background-image: url("../assets/images/logo-dark-alt.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 48px;
  min-width: 200px;
  display: block;
}
.waveko-v2 header.waveko_header li {
  font-family: waveko-med;
}
.waveko-v2 header.waveko_header .waveko_header__top-bar {
  background-color: #222;
}
.waveko-v2 header.waveko_header .waveko_header__top-bar .waveko_header-nav--secondary {
  display: flex;
  justify-content: space-between;
}
.waveko-v2 header.waveko_header .waveko_header__top-bar .waveko_header-nav--secondary li {
  list-style: none;
  color: #B9CECC;
  font-size: 10px;
  margin: 0 0.5rem;
}
.waveko-v2 header.waveko_header .waveko_header__main {
  background: #222;
}
.waveko-v2 header.waveko_header .waveko_header__main .menu-waveko-global-primary-container {
  width: 100%;
}
.waveko-v2 header.waveko_header .waveko_header__main .menu-waveko-global-primary-container .waveko_header-nav--primary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  margin: 0;
  padding: 0;
}
.waveko-v2 header.waveko_header .waveko_header__main .menu-waveko-global-primary-container .waveko_header-nav--primary li {
  list-style: none;
  font-size: 14px;
}
.waveko-v2 header.waveko_header .waveko_header__main .menu-waveko-global-primary-container .waveko_header-nav--primary li a {
  color: #fff;
}
.waveko-v2 header.waveko_header .waveko_header__main .navbar-toggler, .waveko-v2 header.waveko_header .waveko_header__main .navbar-toggler:focus {
  color: #6BC8C1;
  border: 0;
  border-color: transparent;
  box-shadow: none;
}
.waveko-v2 header.waveko_header .waveko_header__main .navbar-toggler:focus {
  color: #007496;
}
.waveko-v2 header.waveko_header.waveko_header--transparent .waveko_header__main {
  background-color: transparent;
}
.waveko-v2 header.waveko_header li.link-soon {
  opacity: 0.4;
}
.waveko-v2 header.waveko_header li.link-soon:after {
  content: "(Soon)";
  font-weight: 100;
  font-family: waveko-light;
}

section.footer {
  background-color: #222;
}

.footer .header__contacts {
  color: #fff;
  font-size: 12px;
  font-family: waveko-reg;
}

.footer .header__line {
  display: inline-block;
  height: 1px;
  width: 32px;
  margin: 0 8px;
  border-bottom: 1px solid #8DA2A0;
  opacity: 70%;
}

.waveko-v2 .home-carousel-promotion {
  width: 66%;
}
.waveko-v2 .carousel-item {
  border-radius: 24px;
  display: block;
  max-width: 60%;
}
.waveko-v2 .carousel-item .carousel-item--inner {
  border-radius: 24px;
  background-repeat: no-repeat;
}
.waveko-v2 .carousel-item .no-banner {
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}
.waveko-v2 .carousel-item .no-banner .carousel-meta {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #fff, #fff, rgba(255, 255, 255, 0));
  min-height: 400px;
}
.waveko-v2 .carousel-item .no-banner .carousel-meta .meta__data {
  width: 50%;
}

.waveko-card {
  border-radius: 24px;
  display: block;
  min-height: 360px;
}
.waveko-card.waveko-card--vertical {
  max-width: 480px;
  min-height: 480px;
}
.waveko-card.waveko-card--vertical .card__outter {
  background-position: center top;
}
.waveko-card.waveko-card--vertical .card__inner {
  background-image: linear-gradient(to top, #fff, #fff, rgba(255, 255, 255, 0));
}
.waveko-card.waveko-card--vertical .card__inner .card__content {
  width: 100%;
  margin-top: 40%;
  margin-left: 16px;
  margin-right: 16px;
  text-align: center;
}
.waveko-card .card__outter {
  border-radius: 24px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
}
.waveko-card .card__inner {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #fff, #fff, rgba(255, 255, 255, 0));
  min-height: 400px;
  border-radius: 24px;
}
.waveko-card .card__inner .card__content {
  width: 50%;
  background-image: #fff;
  margin-left: 16px;
}
@media (max-width: 767.98px) {
  .waveko-card {
    min-width: 90vw;
  }
}
@media (max-width: 575.98px) {
  .waveko-card {
    max-width: 480px;
    min-height: 480px;
  }
  .waveko-card .card__outter {
    background-position: center top;
  }
  .waveko-card .card__inner {
    background-image: linear-gradient(to top, #fff, #fff, rgba(255, 255, 255, 0));
  }
  .waveko-card .card__inner .card__content {
    width: 100%;
    margin-top: 40%;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
  }
}

.waveko-v2 .home__atf {
  background-image: url("../assets/images/bg-shaka@2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 480px;
}
.waveko-v2 .home__atf h1 {
  color: #B9CECC;
  font-family: waveko-reg;
  font-size: 24px;
  line-height: 32px;
}
.waveko-v2 .home__atf h1 em {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  font-style: italic;
  color: #fff;
}
.waveko-v2 .home__atf h1 strong {
  font-family: waveko-bold;
  color: #BBD630;
}
.waveko-v2 .home__announcements {
  margin-top: -240px;
}
.waveko-v2 .home__announcements .wave-top {
  background-image: url("../assets/images/wave-white-short.svg");
  background-size: cover;
  margin-top: -120px;
}
.waveko-v2 .home__announcements .home__hero-carousel {
  margin-top: -120px;
}
.waveko-v2 .home__announcements .home__hero-carousel .waveko-card {
  margin: 0 32px;
}
.waveko-v2 .home__announcements .home__hero-carousel .slick-slide {
  width: 60vw;
  outline: none;
}
.waveko-v2 .home__shop .shop__items__carousel {
  width: 75%;
}
.waveko-v2 .home__shop .shop__items__carousel .waveko-card {
  margin: 0 16px;
}
.waveko-v2 .home__shop .shop-items__arrow {
  color: #007496;
  cursor: pointer;
}
@media (max-width: 992px) {
  .waveko-v2 .home__shop .shop__items__carousel {
    width: 100%;
    margin-left: 1rem;
  }
  .waveko-v2 .home__shop .shop__items__carousel .waveko-card {
    margin: 0 16px;
    padding-left: 1rem;
    max-width: 280px;
  }
}

.find-me {
  border: 1px solid #BBD630;
}

/*# sourceMappingURL=master.css.map */
