// Base / Neutrals / Unsaturated
$dark: #222;
$mid: #666666;
$slate-mid: #8DA2A0;
$slate-light: #98ACAA;
$slate-lighter: #B9CECC;
$sky: #E7F0F5;

// Accent / Saturated
$sea-dark: #044D71;
$sea-mid: #007496;
$turquoise: #6BC8C1;
$lime: #BBD630;
$navy: #044D71;
