/* WAVEKO
This theme is managed by: webcrafterinc.com */


/* REQUIRES UTILITIES */
@font-face {
  font-family: waveko-light;
  src: url('../assets/fonts/GT-Walsheim-Pro-Light.ttf');
}
@font-face {
  font-family: waveko-reg;
  src: url('../assets/fonts/GT-Walsheim-Pro-Regular.ttf');
}
@font-face {
  font-family: waveko-med;
  src: url('../assets/fonts/GT-Walsheim-Pro-Medium.ttf');
}
@font-face {
  font-family: waveko-bold;
  src: url('../assets/fonts/GT-Walsheim-Pro-Bold.ttf');
}
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,500i,600,600i,700,700i&display=swap');

/* BASE */
body{
  font-family: 'IBM Plex Sans', 'Lucida Grande', sans-serif;
  color: #666;
  font-size: 16px;
}

/* TYPOGRAPHY */
h1{
  font-family: waveko-reg;
  font-weight: 100;
  font-size: 32px;
  line-height: 48px;
}
h1.entry-title{
  font-family: waveko-bold;
  font-size: 48px;
  color: #222;

}
h2{
  font-family: waveko-reg;
  font-size: 32px;
  color: #8DA2A0 ;
}
h3{
  font-family: waveko-bold;
  font-size: 26px;
  color: #222;
}
h4{
  font-family: waveko-bold;
  font-size: 22px;
  color: #222;
}
.excerpt{
  font-family: waveko-light;
  color: $slate-lighter ;
}
h5{
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  color: $slate-lighter;
}
h6{
  font-family: waveko-bold;
  /* text-transform: uppercase; */
  font-size: 16px;
  color: #222;
}
p{
  font-family: 'IBM Plex Sans', 'Lucida Grande', sans-serif;
  font-size: 14px;
}
span{
  /* font-family: waveko-med; */
}
strong{
  color: #222;
}

a{
  color: $turquoise;
}

@media (max-width: 992px){
  h1, h2, h3{
    font-size: 22px;
    .entry-title{
      font-size: 24px;
    }
    .excerpt{
      font-size: 16px;
    }
  }
  p{
    font-size: 12px;
  }

}
