.waveko-v2{
  .home__atf{
    background-image: url('../assets/images/bg-shaka@2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 480px;
    h1{
      color: #B9CECC;
      font-family: waveko-reg;
      font-size: 24px;
      line-height: 32px;
      em{
        font-family: "IBM Plex Sans";
        font-weight: 600;
        font-style: italic;
        color: #fff;
      }
      strong{
        font-family: waveko-bold;
        color: #BBD630;
      }
    }
  }
  .home__announcements{
    margin-top: -240px;
    .wave-top{
        background-image: url('../assets/images/wave-white-short.svg');
        background-size: cover;
        margin-top: -120px;
    }
    .home__hero-carousel, {
      margin-top: -120px;
      .waveko-card{
        margin: 0 32px;
      }
      .slick-slide{
        width: 60vw;
        outline: none;
      }
    }


  }
  .home__shop{
    .shop__items__carousel{
      width: 75%;
      .waveko-card{
        margin: 0 16px;
      }
    }
    .shop-items__arrow{
      color: $sea-mid;
      cursor: pointer;
    }
  }

  // Breakpoint LG
  @media (max-width: 992px){
    .home__shop{
      .shop__items__carousel{
        width: 100%;
        margin-left: 1rem;
        .waveko-card{
          margin: 0 16px;
          padding-left: 1rem;
          max-width: 280px;

        }
      }
    }




  }

}
