section.footer{
  background-color: #222;
}

.footer .header__contacts{
  color: #fff;
  font-size: 12px;
  font-family: waveko-reg;
}

.footer .header__line{
  display: inline-block;
  height: 1px;
  width: 32px;
  margin: 0 8px;
  border-bottom: 1px solid #8DA2A0;
  opacity: 70%;
}
